<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload-style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Upload New Image</h1>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <label for="file">Choose a file:</label>
            <input type="file" name="file" id="file" required>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required>
            <label for="description">Description:</label>
            <textarea name="description" id="description" required></textarea>
            <label for="tags">Tags:</label>
            <input type="text" name="tags" id="tags">
            <input type="submit" value="Upload">
            <div class="clear"></div>
        </form>
        <a href="{{ url_for('gallery') }}" class="nav-button">Back to Gallery</a>
    </div>
</body>
</html>
